// Bootstrap overrides for this template
.bg-primary {
    background: $theme-primary;
    background: -webkit-linear-gradient($theme-primary, darken($theme-primary, 5%));
    background: linear-gradient($theme-primary, darken($theme-primary, 5%));
}

.text-primary {
    color: $theme-primary;
}

.no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

.btn-outline {
    color: rgb(8, 8, 8);
    border: 1px solid;
    border-color: rgb(0, 0, 0);
    &:hover,
    &:focus,
    &:active,
    &.active {
        color: rgb(0, 0, 0);
        border-color: orange;
        background-color: orange;
    }
}

.btn {
    border-radius: 300px;
    @include alt-font;
}

.btn-xl {
    font-size: 11px;
    padding: 15px 45px;
}
.text-white
{
    color: white;
}
